:root {
    /* Palette */
    --primary-color: #1d7fbe;
    --secondary-color: #fefefe;
    --accent1-color: #f9bf90;
    --accent2-color: #0074c2;
    --accent3-color: #f24a13;

    --headline-color-on-white: var(--accent3-color);
    --headline-color-on-color: var(--secondary-color);
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);

    --headline-color-on-white: var(--accent3-color);
    --headline-color-on-color: var(--secondary-color);
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);

    --nav-link-color: var(--secondary-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--accent3-color);
    --nav-hover-background-color: var(--secondary-color);
}

.syne-mono {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.kufam {
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.headline-in-white {
    color: var(--headline-color-on-white);
    text-shadow: 1px 1px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;

    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: 16px;

    overflow-x: hidden;
}

header,
main,
footer {
    width: 100%;
}

header,
footer {
    grid-column: 1 / 4;

    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-row: 1 / 2;

}

.logo img {
    width: calc(500px / 6);
    height: auto;
    filter: drop-shadow(1px 1px 2px white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 1rem;
}

a {
    text-decoration: none;
    color: var(--nav-link-color);
    text-shadow: 1px 1px 1px var(--nav-hover-link-color);
}

#nav-links a {
    text-transform: uppercase;
}

#menu::before {
    content: "☰";
    font-size: 3rem;
}

#menu.open::before {
    content: "×";
    font-size: 4rem;
}

#nav-links {
    display: none;
}

#nav-links.open {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;
}

#nav-links.open a {
    width: 100%;
    text-align: center;
    padding: .5rem 0;
}

#nav-links a.active {
    text-decoration: underline;
    text-underline-offset: .25rem;
}

a:hover:not(#menu:hover) {
    color: var(--nav-hover-link-color);
    text-shadow: 1px 1px 1px var(--nav-hover-background-color);
}

#nav-links.open a:hover {
    color: black;
    text-shadow: 1px 1px 1px var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

.hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: grid;
    grid-template: 1fr / 1fr;
}

.hero picture,
.hero #bg,
.hero #content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.hero picture {
    z-index: -1;
}

.hero picture,
.hero picture img {
    width: 100vw;
    height: auto;
}

.hero #bg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, #000e, transparent);
    z-index: -1;
}

.hero #content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
}

.hero #content>* {
    text-align: center;
}

.hero #content h2 {
    color: var(--headline-color-on-color);
    text-shadow: 2px 2px 3px var(--headline-color-on-white);
    width: 15ch;
    font-size: 3.5ch;
}

.hero #content .book {
    color: var(--nav-link-color);
    text-shadow: 1px 1px 1px black;
    background-color: var(--accent3-color);
    text-decoration: none;
    padding: .75rem;
    border-radius: .25rem;
    border: 1px solid white;
    box-shadow: .5px .5px 2px lightgray;
}

.hero #content .book:hover {
    color: var(--accent3-color);
    background-color: var(--nav-hover-background-color);
    text-shadow: 1px 1px 1px black;
    border-color: black;
}

main>* {
    grid-column: 2 / 3;

    width: 100%;
}

main>h2 {
    padding-top: 1rem
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 1rem;

    padding: 1rem 0;
}

#pricing table {
    width: 70%;
    font-size: 8px;
    box-shadow: 3px 3px black;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: .15em .25em;
    border: 2px solid black;
}

thead {
    background-color: var(--accent1-color);
}

.detail {
    background-color: var(--accent1-color);
}

.reservation {
    background-color: greenyellow;
}

.walkIn {

    background-color: yellow;
}

#rentals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-items: center;
    align-items: start;
    gap: 1rem;
}

.carousel {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.card:not(.agreement.card) {
    height: 100%;
}

.card {
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
    padding: 1rem 2rem;

    border: 2px solid black;
    border-radius: .5rem;
    box-shadow: 3px 3px black;

    background-color: var(--accent1-color);
}

.card h3:not(.stores h3),
.card p:not(.stores p) {
    width: 15ch;
}

.rent .card p {
    text-align: left;
    align-self: flex-start;
}

.agreement.card {
    align-self: start;
    justify-self: center;
}

.stores .agreement h2,
.stores h3,
.stores h4 {
    text-align: left;
}

.agreement,
.stores {
    margin: 0 2rem 1rem;
}

.card ul {
    margin-top: .5rem;
    padding-left: 2rem;
}

::marker {
    content: "- ";
}

.weather article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.weather .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather .forecast figure {
    flex-direction: column;
}

.weather h4 {
    width: 10ch;
}

.maps iframe {
    width: 100%;
    height: 20rem;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

form {
    padding: .5rem;
}

form>* {
    max-width: 30rem;
}

form label,
label.top input,
label.top textarea,
label.top select {
    display: block;
}

fieldset {
    margin-top: 1rem;
    border-radius: .5rem;
}

legend {
    font-size: 1.5rem;
}

form label.top,
form div {
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    font-weight: bold;
}

form label.top input,
form label.top textarea,
form label.top select {
    appearance: none;
    -webkit-appearance: none;
    font-size: 1rem;
    padding: .75rem;
    color: #000;
    width: 100%;
    background-color: lightgray;
    box-shadow: 3px 3px black;
}

form label.top input {
    border: none;
    border-bottom: 2px solid #0005;
}

form label.top textarea {
    border-radius: .2rem;
    border: 2px solid #0005;
}

form label.top input:focus,
form label.top textarea:focus {
    outline: none;
}

form label.top input:focus {
    border-bottom: 2px solid #000a;
}

form label.top textarea:focus {
    border: 2px solid #000a;
}

form label.top input:required {
    border-left: 3px solid red;
}

form label.top input:required:valid {
    border-left: 3px solid green;
}

form .sbs,
form .submitBtn {
    cursor: pointer;
}

form label.sbs {
    padding: .75rem 0;
    color: #000;
}

form .submitBtn {
    background-color: var(--accent3-color);
    color: white;
    border-radius: .15rem;
    padding: .75rem 1rem;
    margin-top: 1rem;
    text-shadow: 1px 1px black;

    border: 2px solid black;
    box-shadow: 3px 3px black;
    width: 100%;
}

form .submitBtn:hover {
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    text-shadow: 1px 1px black;

    border: 2px solid black;
    box-shadow: 3px 3px var(--accent3-color);
}

#thanks {
    margin: 2rem;
    text-align: center;

    height: fit-content;

    align-self: center;
    justify-self: center;
}

#thanks p {
    width: auto;
}

.banner {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    gap: .25rem;

    background-color: lightgreen;
    border-radius: 0 0 .5rem .5rem;

    z-index: 1;
}

.banner button {
    background-color: #FFFA;
    border: 0;
    border-radius: 0 0 0 .5rem;
    padding-inline: .5rem;
}

.banner p {
    padding: .5rem .25rem .5rem 0;
    color: darkgreen;
    flex-grow: 1;
}

footer {
    grid-row: 4 / 5;
    padding: .5rem 0 1rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    row-gap: 1rem;
}

.info,
.social,
.project {
    grid-column: 2 / 3;
}

.info figure,
.social,
.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info figure {
    flex-direction: row;
}

.info img {
    width: calc(500px / 7);
    object-fit: cover;
    height: auto;
}

.info figcaption {
    width: 20ch;
}

.info address {
    font-style: normal;
    flex-direction: column;
    gap: .5rem
}

.info a {
    display: block;
}

.social {
    gap: 1.5rem;
}

.social a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.project {
    flex-direction: column;
}