@media screen and (1024px < width) {
    .logo img {
        width: calc(500px / 5);
    }

    nav {
        width: 40%;
    }

    .hero #content {
        row-gap: 2rem;
    }

    .hero #content h2 {
        font-size: 7ch;
    }

    .hero #content .book {
        font-size: 3ch;
    }

    main h2 {
        font-size: 4ch;
    }
}