:root {
    /* Palette */
    --primary-color: #1d7fbe;
    --secondary-color: #fefefe;
    --accent1-color: #f9bf90;
    --accent2-color: #0074c2;
    --accent3-color: #c53b0d;

    /* Fonts */
    --heading-font: "Aboreto", sans-serif;
    --paragraph-font: "Noto Serif", serif;

    /* Text and elements colors */
    --headline-color-on-white: var(--accent3-color);
    --headline-color-on-color: var(--secondary-color);
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);

    --nav-link-color: white;
    --nav-background-color: black;
    --nav-hover-link-color: var(--accent3-color);
    --nav-hover-background-color: var(--secondary-color);

    --fallback-proof: safe;
}

/* ---------- Essentials ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-family: var(--paragraph-font);
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
header a,
#nav-links a {
    font-family: var(--heading-font);
}

h1,
header a,
#nav-links a {
    font-weight: bold;
}

header,
footer {
    grid-column: 1 / 4;
}

header a,
#nav-links a,
#nav-links.open a,
footer {
    text-decoration: none;
    color: var(--nav-link-color);
}

/* ---------- End of Essentials ---------- */

/* ---------- Header ---------- */

header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1;
    background-color: var(--nav-background-color);
}

/* ---------- Header Logo ---------- */

#header-logo {
    display: flex;
    flex-direction: row;
}

#header-logo img {
    width: calc(500px / 5);
}

#header-logo figcaption {
    display: none;
    align-self: center;
    width: 25ch;
    font-size: .70rem;
}

/* ---------- End of Header Logo ---------- */

/* ---------- Navigation ---------- */

nav,
.discover main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}

#menu::before {
    content: "☰";
    font-size: 2rem;
}

#menu.open::before {
    content: "×";
    font-size: 3rem;
}

#nav-links {
    display: none;
}

#nav-links.open {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#nav-links.open a {
    width: 100%;
    text-align: center;
    padding: .5rem 0;
}

#nav-links a.active {
    color: var(--accent1-color);
}

#nav-links a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#nav-links.open a:hover {
    color: black;
    background-color: var(--nav-hover-background-color);
}

/* ---------- End of Navigation ---------- */

/* ---------- End of Header ---------- */

/* ---------- Site ---------- */

/* ---------- Main/Aside Distribution ---------- */

main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    padding-bottom: 1rem;
    z-index: 0;
}

main:not(.initial main),
aside {
    padding-top: 1rem;
}

.discover aside {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template: repeat(6, auto) / auto 1fr auto;
    gap: 1rem;
}

.discover main {
    grid-row: 4 / 5;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
}

/* ---------- End of Main/Aside Distribution ---------- */

/* ---------- Hero ---------- */

#hero {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#hero picture,
#bg,
#hero-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#hero picture {
    z-index: -1;
}

#hero picture,
#hero picture img,
.discover main figure {
    width: 100%;
    height: auto;
}

#bg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, #000e, transparent);
    z-index: -1;
}

#hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
}

#hero-content>* {
    text-align: center;
}

#hero-content h2 {
    color: var(--headline-color-on-color);
    width: 15ch;
    font-size: 3.5ch;
}

#hero-content .join {
    color: var(--nav-link-color);
    background-color: var(--accent3-color);
    text-decoration: none;
    padding: .75rem;
    border-radius: .25rem;
    border: 1px solid white;
    box-shadow: .5px .5px 2px lightgray;
}

#hero-content .join:hover,
form .submitBtn:hover {
    color: var(--accent3-color);
    background-color: var(--nav-hover-background-color);
    border-color: black;
}

/* ---------- End of Hero ---------- */

/* ---------- Section ---------- */

.card {
    background-color: lightgray;
    border-radius: .25rem;
    border: 1px solid black;
}

section:not(footer section),
form {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.directory main section {
    grid-column: unset;
}

section:not(footer section) {
    justify-content: var(--fallback-proof, stretch);
    align-items: center;
}

section h2,
section article {
    padding: .5rem 0;
    width: 90%;
}

section h2 {
    text-align: center;
    padding-bottom: .3rem;
    border-bottom: 1px solid black;
}

.row,
.container {
    display: flex;
}

.row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row:has(.forecastItem) {
    padding: 1rem 0 .5rem;
}

.container {
    flex-direction: column;
    justify-content: center;
}

#currentTemp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

#currentTemp img {
    object-fit: cover;
}

.forecastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section a,
.info a:hover {
    text-decoration: underline;
    text-underline-offset: .2rem;
}

section a {
    color: darkslateblue;
}

article>h4:not(#message) {
    margin: .75rem 0 0;
}

article>p:not(article>p:first-of-type:not(h4 + p)) {
    margin: .25rem 0 0;
}

section a:hover,
.info a:hover {
    color: var(--nav-hover-link-color);
}

.spotlights {
    padding-bottom: .5rem;
    gap: .5rem;
    background-color: lightgrey;
    border: 1px solid black;
}

.spotlights article {
    background-color: rgb(255, 254, 254);
    border-radius: .25rem;
    border: 1px solid black;
}

/* ---------- End of Section ---------- */

/* ---------- Discover ---------- */

.discover main figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover main figure picture,
.discover main figure picture img {
    align-self: center;
    aspect-ratio: 4/3;
    height: auto;
}

.discover main figure picture {
    width: clamp(300px, 80%, 500px);
}

.discover main figure picture img {
    width: 100%;
}

.discover main figure picture img:hover {
    filter: saturate(75%);
}

.discover main figure figcaption {
    text-align: center;
}

.discover footer {
    grid-row: 5 / 6;
}

/* ---------- End of Discover ---------- */

/* ---------- Join ---------- */

form {
    padding: .5rem;
}

form>* {
    max-width: 20rem;
}

form label,
label.top input,
label.top textarea {
    display: block;
}

form label.top,
form div {
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    font-weight: bold;
}

form label.top input,
form label.top textarea {
    appearance: none;
    -webkit-appearance: none;
    font-size: 1rem;
    padding: .75rem;
    color: #000;
    width: 100%;
    background-color: white;
}

form label.top input {
    border: none;
    border-bottom: 2px solid #0005;
}

form label.top textarea {
    border-radius: .2rem;
    border: 2px solid #0005;
}

form label.top input:focus,
form label.top textarea:focus {
    outline: none;
}

form label.top input:focus {
    border-bottom: 2px solid #000a;
}

form label.top textarea:focus {
    border: 2px solid #000a;
}

form label.top input:required {
    border-left: 3px solid red;
}

form label.top input:required:valid {
    border-left: 3px solid green;
}

form .sbs,
form .submitBtn {
    cursor: pointer;
}

form label.sbs {
    padding: .75rem 0;
    color: #000;
}

form .submitBtn {
    border: none;
    background-color: var(--accent3-color);
    color: white;
    border-radius: .15rem;
    padding: .75rem 1rem;
    margin-top: 1rem;
}

#membershipInfo {
    display: none;
    grid-column: 3 / 4;
    align-self: start;
}

#membershipInfo ul {
    list-style-position: inside;
}

::marker {
    content: '- ';
}

/* ---------- End of Join ---------- */

/* ---------- Directory ---------- */

#members {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .5rem;
}

#members section {
    padding: .5rem;
}

#members section img {
    border-radius: 50%;
    object-fit: cover;
}

/* ---------- End of Directory ---------- */

/* ---------- End of Site ---------- */

/* ---------- Footer ---------- */

footer {
    grid-row: 4 / 5;
    background-color: black;
    padding: 1rem 0;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    row-gap: 1rem;
}

.chamber,
.info,
.project {
    grid-column: 2 / 3;
}

.chamber figure,
.info address,
.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chamber figure {
    flex-direction: row;
}

.chamber img {
    width: calc(500px / 4);
    object-fit: cover;
}

.chamber figcaption {
    width: 20ch;
}

.info address {
    font-style: normal;
    flex-direction: column;
    gap: .25rem
}

.info a {
    color: white;
    text-decoration: none;
}

.project {
    flex-direction: column;
}

/* ---------- End of Footer ---------- */

/* ---------- Banner ---------- */

.banner {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    gap: .25rem;

    background-color: lightgreen;
    border-radius: 0 0 .5rem .5rem;

    z-index: 1;
}

.banner button {
    background-color: #FFFA;
    border: 0;
    border-radius: 0 0 0 .5rem;
    padding-inline: .5rem;
}

.banner p {
    padding: .5rem .25rem .5rem 0;
    color: darkgreen;
    flex-grow: 1;
}

/* ---------- End of Banner ---------- */

/* ---------- Dark Mode ---------- */

#mode::before {
    content: "🌙";
    font-size: 2rem;
}

#mode.dark::before {
    content: "🌞";
}

.dark:not(.dark section) {
    color: white;
    background-color: #001122;
}

.dark #mode {
    background-color: var(--nav-background-color);
}

.dark .card {
    color: black;
    background-color: lightgrey;
    border: 1px solid var(--secondary-color);
}

.dark .spotlights {
    background-color: darkgrey;
    border: 1px solid var(--secondary-color);
}

.dark .spotlights article {
    background-color: lightgrey;
}

.dark form label.top input,
.dark label.top textarea {
    color: white;
    background-color: #001122;
}

.dark form label.top input {
    border-bottom: 2px solid #fff5;
}

.dark form label.top textarea {
    border: 2px solid #fff5;
}

.dark form label.top input:focus {
    border-bottom: 2px solid #ffff;
}

.dark form label.top textarea:focus {
    border: 2px solid #ffff;
}

.discover.dark main figure picture img {
    border: 1px solid var(--secondary-color);
}

/* ---------- End of Dark Mode ---------- */