:root {
    /* Palette */
    --primary-color: #1d7fbe;
    --secondary-color: #fefefe;
    --accent1-color: #f9bf90;
    --accent2-color: #0074c2;
    --accent3-color: #c53b0d;

    /* Fonts */
    --heading-font: "Aboreto", sans-serif;
    --paragraph-font: "Noto Serif", serif;

    /* Text and elements colors */
    --headline-color-on-white: var(--accent3-color);
    --headline-color-on-color: var(--secondary-color);
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);

    --nav-link-color: white;
    --nav-background-color: black;
    --nav-hover-link-color: var(--accent3-color);
    --nav-hover-background-color: var(--secondary-color);

    --fallback-proof: safe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-family: var(--paragraph-font);
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
header a,
#nav-links a {
    font-family: var(--heading-font);
}

h1,
header a,
#nav-links a {
    font-weight: bold;
}

header,
footer {
    grid-column: 1 / 4;
}

header a,
#nav-links a,
#nav-links.open a,
footer {
    text-decoration: none;
    color: var(--nav-link-color);
}

header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1;
    background-color: var(--nav-background-color);
}

#header-logo {
    display: flex;
    flex-direction: row;
}

#header-logo img {
    width: calc(500px / 5);
}

#header-logo figcaption {
    display: none;
}

nav,
.discover main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}

#menu::before {
    content: "☰";
    font-size: 2rem;
}

#menu.open::before {
    content: "×";
    font-size: 3rem;
}

#nav-links {
    display: none;
}

#nav-links.open {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#nav-links.open a {
    width: 100%;
    text-align: center;
    padding: .5rem 0;
}

#nav-links a.active {
    color: var(--accent1-color);
}

#nav-links a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#nav-links.open a:hover {
    color: black;
    background-color: var(--nav-hover-background-color);
}

.discover aside,
.discover main {
    margin: 1rem 0;
}

.discover aside {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template: repeat(3, auto) / auto 1fr auto;
    gap: 1rem;
}

aside section {
    grid-column: 2 / 3;
}

aside section:first-of-type {
    grid-row: 1 / 2;
}

aside section:nth-of-type(2) {
    grid-row: 2 / 3;
}

aside section:last-of-type {
    grid-row: 3 / 4;
}

main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    z-index: 0;
}

.discover main {
    grid-row: 4 / 5;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
}

#hero {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#hero picture,
#bg,
#hero-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#hero picture {
    z-index: -1;
}

#hero picture,
#hero picture img,
.discover main figure {
    width: 100%;
    height: auto;
}

#bg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, #000e, transparent);
    z-index: -1;
}

#hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
}

#hero-content>* {
    text-align: center;
}

#hero-content h2 {
    color: var(--headline-color-on-color);
    width: 15ch;
    font-size: 3.5ch;
}

#hero-content .join {
    color: var(--nav-link-color);
    background-color: var(--accent3-color);
    text-decoration: none;
    padding: .75rem;
    border-radius: .25rem;
    border: 1px solid white;
    box-shadow: .5px .5px 2px lightgray;
}

#hero-content .join:hover {
    color: var(--accent3-color);
    background-color: var(--nav-hover-background-color);
    border-color: black;
}

section:not(footer section) {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: var(--fallback-proof, stretch);
    align-items: center;
    background-color: lightgray;
    border-radius: .25rem;
    border: 1px solid black;
}

section h2,
section article {
    padding: .5rem;
    width: 80%;
}

section h2 {
    text-align: center;
    padding-bottom: .35rem;
    border-bottom: 1px solid black;
}

section a,
.info a:hover {
    text-decoration: underline;
    text-underline-offset: .2rem;
}

section a {
    color: darkslateblue;
}

article>h4:not(#message) {
    margin: .75rem 0 0;
}

article>p:not(article>p:first-of-type:not(h4 + p)) {
    margin: .25rem 0 0;
}

section a:hover,
.info a:hover {
    color: var(--nav-hover-link-color);
}

.spotlights {
    padding-bottom: .5rem;
    gap: .5rem;
    background-color: lightgrey;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.spotlights article {
    background-color: rgb(255, 254, 254);
    border-radius: .25rem;
    border: 1px solid black;
}

.discover main figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover main figure picture,
.discover main figure picture img {
    align-self: center;
    aspect-ratio: 4/3;
    height: auto;
}

.discover main figure picture {
    width: clamp(300px, 80%, 400px);
}

.discover main figure picture img {
    width: 100%;
}

.discover main figure picture img:hover {
    filter: saturate(75%);
}

.discover main figure figcaption {
    text-align: center;
}

.discover footer {
    grid-row: 5 / 6;
}

footer {
    grid-row: 4 / 5;
    background-color: black;
    padding: 1rem 0;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    row-gap: 1rem;
}

.chamber,
.info,
.project {
    grid-column: 2 / 3;
}

.chamber figure,
.info address,
.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chamber figure {
    flex-direction: row;
}

.chamber img {
    width: calc(500px / 4);
    object-fit: cover;
}

.chamber figcaption {
    width: 20ch;
    text-wrap: balance;
}

.info address {
    font-style: normal;
    flex-direction: column;
    gap: .25rem
}

.info a {
    color: white;
    text-decoration: none;
}

.project {
    flex-direction: column;
}

/* Dark Mode */

#mode::before {
    content: "🌙";
    font-size: 2rem;
}

#mode.dark::before {
    content: "🌞";
}

.dark:not(.dark section) {
    color: white;
    background-color: #001122;
}

.dark #mode {
    background-color: var(--nav-background-color);
}

.dark main section,
.dark aside section {
    color: black;
    background-color: lightgrey;
    border: 1px solid var(--secondary-color);
}

.dark .spotlights {
    background-color: darkgrey;
    border: 1px solid var(--secondary-color);
}

.dark .spotlights article {
    background-color: lightgrey;
}

.discover.dark main figure picture img {
    border: 1px solid var(--secondary-color);
}