@media screen and (500px < width) {
    :root {
        --nav-background-color: transparent;
    }

    nav {
        width: 80%;
    }

    #menu,
    #menu.open {
        display: none;
    }

    #nav-links,
    #nav-links.open {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        gap: 1rem;
    }

    #nav-links a,
    #nav-links.open a {
        width: 100%;
        text-align: center;
        padding: .5rem 0;
    }

    #nav-links a:hover {
        color: var(--secondary-color);
        background-color: unset;
        text-decoration: underline;
        text-underline-offset: .2rem;
    }

    main {
        grid-row: 1 / 4;
    }

    footer {
        font-size: 1ch;
        grid-template-columns: auto repeat(4, 1fr) auto;
        gap: 1rem;
    }

    .chamber {
        grid-column: 3 / 4;
    }

    .info {
        grid-column: 4 / 5;
    }

    .project {
        margin: 0;
        grid-column: 1 / 7;
        flex-direction: row;
        column-gap: .125rem;
    }

    .project p:not(.project p:last-of-type)::after {
        content: "|";
        margin-left: .125rem;
    }
}

@media screen and (768px < width) {
    #header-logo figcaption {
        display: block;
        align-self: center;
        width: 25ch;
        font-size: .70rem;
    }

    nav {
        width: 50%;
    }

    main {
        grid-template-columns: auto 1fr 1fr 1fr auto;
        gap: 1rem;
    }

    #hero {
        grid-column: 1 / 6;
    }

    #hero-content h2 {
        font-size: 5ch;
    }

    #hero-content a.join {
        width: 15ch;
        font-size: 1.2rem;
    }

    main section {
        align-items: stretch;
    }

    main section h2,
    main section article {
        width: 100%;
    }

    main section:first-of-type {
        grid-column: 2 / 4;
    }

    main section:nth-of-type(2) {
        grid-column: 4 / 5;
    }

    .spotlights {
        grid-column: 2 / 5;
        flex-direction: row;
        padding: .5rem;
        gap: 1rem;
    }

    main section h2 {
        text-align: left;
    }

    .spotlights h2 {
        display: none;
    }

    footer {
        font-size: unset;
    }
}