* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    display: grid;
    grid-template: auto auto 1fr auto / auto 1fr auto;
}

header,
nav,
footer {
    grid-column: 1/4;
    color: white;
}

h1,
h2,
h3,
nav a,
.hero p {
    font-family: 'Jura', sans-serif;
}

header,
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    background-color: #1d4d72;
}

header {
    grid-row: 1/2;
    padding: 1rem;
    gap: 2rem;
}

header img {
    width: calc(650px / 7);
    border-radius: .5rem;
}

header h1 {
    font-size: 2.25rem;
}

nav {
    grid-row: 2/3;
    background-color: black;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
}

nav a:not(#menu) {
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    width: 100%;
    display: none;
}

nav a.active {
    background-color: #555;
    border-bottom: 2px solid #c3c3c3;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "🧨";
}

nav.open a:not(#menu) {
    display: block;
}

nav a:not(#menu):hover {
    background-color: white;
    color: black;
}

main {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0 auto 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem
}

.hero {
    grid-column: 1/4;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero p {
    width: 11ch;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: 1px solid white;
    padding: .5rem;
    background-color: #1d4d726f;
    color: white;
    border-radius: 1rem;
    text-align: center;
}

main>h2,
.card,
.hero p {
    margin: 0 auto;
}

main>h2 {
    grid-column: 1/4;
    width: 90%;
    padding: 1rem;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 1.75rem;
}

.card {
    grid-column: 2/3;
    width: 100%;
    border: 1px solid #1d4d72;
    font-size: 1rem;
}

.card h3 {
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    background-color: #1d4d72;
    color: white;
    font-size: 1.25rem;
}

.card ul {
    padding: .5rem;
}

.card p {
    margin: .5rem auto;
    text-align: center;
}

::marker {
    content: none;
}

li {
    padding: .5rem 0;
    font-family: 'Noto Serif', serif;
}

li a {
    color: #0022ff;
}

li a:hover {
    color: brown;
}

iframe {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}

footer {
    grid-row: 4/5;
    padding: 1rem;
    font-size: 1rem;
}

footer p {
    margin: 0 auto;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

footer p:nth-child(1) {
    margin-bottom: .75rem;
}

footer p span:nth-child(2) {
    font-family: 'Noto Color Emoji', sans-serif;
    font-size: 1.125rem;
}