@import url("/styles/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    display: grid;
    grid-template: auto auto 1fr auto / auto 1fr auto;
}

header,
nav,
footer {
    grid-column: 1/4;
    color: white;
}

h1,
h2,
h3,
nav a {
    font-family: 'Jura', sans-serif;
}

header,
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    background-color: #1d4d72;
}

header {
    grid-row: 1/2;
    padding: 1rem;
    gap: 2rem;
}

header img {
    width: calc(650px / 7);
    border-radius: .5rem;
}

header h1 {
    font-size: 2.25rem;
}

nav {
    grid-row: 2/3;
    background-color: black;
    flex-direction: column;
}

nav a {
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
}

nav a:hover {
    background-color: white;
    color: black;
}

main {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
}

main h2,
.card {
    margin: 0 auto;
}

h2 {
    grid-column: 1/4;
    width: 90%;
    padding: 1rem;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 1.75rem;
}

.card {
    grid-column: 2/3;
    width: 100%;
    border: 1px solid #1d4d72;
    font-size: 1rem;
}

.card h3 {
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    background-color: #1d4d72;
    color: white;
    font-size: 1.25rem;
}

.card ul {
    padding: .5rem;
}

.card p {
    margin: .5rem auto;
    text-align: center;
}

li {
    list-style-type: none;
    padding: .5rem 0;
    font-family: 'Noto Serif', serif;

    & a {
        color: #0022ff;

        &:hover {
            color: brown;
        }
    }
}

footer {
    grid-row: 4/5;
    padding: 1rem;
    font-size: 1rem;
}

footer p {
    margin: 0 auto;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

footer p:nth-child(1) {
    margin-bottom: .75rem;
}

footer p span:nth-child(2) {
    font-family: 'Noto Color Emoji', sans-serif;
    font-size: 1.125rem;
}