@media screen and (650px < width) {
    nav {
        flex-direction: row;
    }

    nav a:not(#menu),
    nav.open a:not(#menu) {
        display: block;
        width: fit-content;
    }

    main {
        width: 100%;
        grid-template-columns: 100px 2fr 1fr 100px;
    }

    .hero {
        grid-column: 2 / 4;
    }

    main>h2 {
        grid-column: 2 / 4;
    }

    #menu,
    #menu.open {
        display: none;
    }

    .card:nth-of-type(odd) {
        grid-column: 2 / span 1;
    }

    iframe[title="Ancud map"] {
        grid-column: 2 / span 2;
    }

    .card {
        grid-column: span 1;
    }
}

@media screen and (1100px < width) {
    .hero p {
        font-size: 2.5rem;
        width: 15ch;
        top: 1rem;
        right: 1rem;
        padding: 1.5rem;
    }
}